@import 'variables';

span {
    text-align: center;
    user-select: none;

    &.score-operator {
        font-size: $fontSize * 1.4;
    }
}

div {
    display: flex;
    align-items: center;
    justify-content: center;

    &.score {
        border: solid 2vh white;
    }

    &.score-red {
        border-color: $colorRed;
    }

    &.score-yellow {
        border-color: $colorYellow;
    }

    &.score-green {
        border-color: $colorGreen;
    }

    &.score-blue {
        border-color: $colorBlue;
    }

    &.score-faults {
        border-color: $colorFault;
    }

    &.score-total {
        border-color: $colorResult;
    }
}
