@import 'variables';

.row {
    &.red {
        background-color: $colorRed;
    }

    &.yellow {
        background-color: $colorYellow;
    }

    &.green {
        background-color: $colorGreen;
    }

    &.blue {
        background-color: $colorBlue;
    }
}
