<div class="wrapper">
    <header>Header</header>
    <div class="grid">
        <app-row class="row red" [row]="game.currentMove.redRow"></app-row>
        <app-row class="row yellow" [row]="game.currentMove.yellowRow"></app-row>
        <app-row class="row green" [row]="game.currentMove.greenRow"></app-row>
        <app-row class="row blue" [row]="game.currentMove.blueRow"></app-row>

        <div class="row">
            <button id="btn-back">Back</button>
            <app-fault></app-fault>
        </div>

        <app-result class="row" [move]="game.currentMove"></app-result>
    </div>
</div>
