@import 'variables';

button {
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.5) none;
    border-radius: 10vmin;
    width: 10vmin;
    height: 10vmin;
    align-self: center;
    justify-self: center;
    margin-right: 2vh;

    &:active, &.unavailable {
        background: transparent;
    }
}

/*
app-tile, button {
    font-size: $fontSize;
    font-weight: bold;
    //padding: $btnPadding;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

app-tile {
    //border: solid 2px rgba(0, 0, 0, 0.3);
}
*/
